:root {
  --yellow: #ffc233;
  --red: #ff505f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */


.container {
  background-image: url("assets/pexels-maxyne-barcel-10402282 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: 100vh;
  position: relative;
  color: rgb(50, 56, 75);
}

.container::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(1, 16, 65, 0.6);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.list {
  display: flex;
  list-style: none;
}

.list li {
  margin: 0 40px;
  color: var(--yellow);
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}

.navbar:first-child img {
  position: relative;
  height: 45px;
  z-index: 2;
}

.button-small {
  background-color: var(--red);
  border: none;
  padding: 13px 35px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}


/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.hero {
  padding: 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading {
  text-align: center;
  font-size: 100px;
  font-weight: 1000;
  color: var(--yellow);
  line-height: 1;
  z-index: 2;
}


.button-large{
  position: relative;
  background-color: var(--red);
  border: none;
  padding: 15px 35px;
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  width: 250px;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;

}

.bottom div img {
  position: relative;
  margin-top: 20px;
  height: 100px;
  z-index: 2;

}